@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

:root {
  --principal-bg-color: rgb(17, 209, 181);
  --color-fondo:rgb(49, 47, 47)
}

* {
  padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--color-fondo); 
  }

  
  .navbar {
    margin-top: 0;
    padding-top: 0;
    display: flex;
    color: beige;
    justify-content: space-between;
    padding-inline: 30px;
    padding-block: 25px;
    align-items: center;
    background-color: var(--principal-bg-color);
    }

  .logo {
    background-color: var(--principal-bg-color);
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
  }

  .logo2 {
    font-family: 'Roboto Slab', serif;
  }

  .nav-items {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    background-color: var(--principal-bg-color);
    font-weight: 600;
    cursor: pointer;
  }

  .items {
    font-size: 25px;
    background-color: var(--principal-bg-color);
  }

  .boton-menu {
     background-color: var(--principal-bg-color); 
    border: 0;
    color: beige;
    font-size: 3rem;
    display: flex;
    gap: 5px;
  }

  .bi {
    background-color: var(--principal-bg-color);
  }
  .number {
    background-color: beige;
    color:var(--principal-bg-color);
    padding: .15rem .25rem;
    border-radius: 0.25rem;
  }

  .container {
    background-color: rgb(49, 47, 47);
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: beige;
    padding-top: 30px;
  }

  .titulo-productos {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 40px;
    color: var(--principal-bg-color);
  }


  .container-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-block: 40px;
    padding-inline: 30px;
   }

   .card-heading {
    color: var(--principal-bg-color);
   }

   .card-text {
    color: white;
   }

   .card-price {
    color: var(--principal-bg-color);
   }

   
   .css-1mcat1a {
    background:var(--principal-bg-color)!important;
   }
  
   .css-1yctz6j {
    color:var(--principal-bg-color)!important ;
   }